# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# Entornos
.env
.venv

# Modelos
*.pth
*.pt

# TensorBoard
outputs/runs/

# Dataset
data/raw/synthetic_plates/

# Figuras pesadas opcional
outputs/figures/*.png

# Sistema
.DS_Store
Thumbs.db
